body {
    background: url(/images/blue-mosque-sultan-5373x3707-10689.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent overflow */
    position: relative; /* Required for the pseudo-element */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure the overlay is on top of the background image */
    pointer-events: none; /* Allow clicks to pass through */
}

#dashboard {
    display: flex;
    flex-direction: row;
    width: 90%; /* Increase the width to fill more of the screen */
    height: 90%; /* Increase the height to fill more of the screen */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    gap: 5%;
    z-index: 2; /* Ensure the dashboard is above the overlay */
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    font-size: x-large;
    justify-content: center;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.heading {
    margin-bottom: 20px;
    font-size: xx-large;
}

.date-time {
    margin-bottom: 20px;
}

.date-time p {
    margin: 5px 0;
}

.prayer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; /* Increase padding to make the box taller */
    margin: 10px;
    width: 100%;
    background: linear-gradient(145deg, rgba(0, 204, 255, 0.3), rgba(26, 122, 231, 0.3));
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for 3D effect */
    font-size: 1.2em; /* Normal font size for inactive prayers */
    font-weight: normal; /* Normal font weight for inactive prayers */
}

.prayer-icon,
.prayer-name,
.prayer-time {
    flex: 1; /* Each child takes up equal space */
    text-align: center; /* Center the text within each div */
}

.prayer-icon i {
    font-size: 1.5em; /* Adjust the size of the icon */
    color: currentColor;
}

.prayer-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.prayer-time {
    font-size: 1.2em; /* Adjust font size for better fit */
    font-weight: 300; /* Normal font weight for inactive prayers */
}

.prayer-info.active .prayer-name, .prayer-info.active .prayer-time {
    font-weight: 600; /* Bold font weight for active prayer time */
}

.prayer-info.active {
    background: linear-gradient(145deg, rgba(0, 204, 255, 0.9), rgba(26, 122, 231, 0.9));
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.5), 0 0 15px rgba(26, 122, 231, 0.5); /* Reduced box shadow */
}

.prayer-info.recent {
    background: rgba(255, 255, 255, 0.6); /* Less transparent background */
    font-weight: bold; /* Bold font */
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    #dashboard {
        display: block;
        flex-direction: column;
        width: 100%; /* Increase the width to fill more of the screen */
        height: 100vh; /* Fit the height to the viewport */
        overflow-y: auto; /* Make the content scrollable */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        gap: 5%;
        z-index: 2; /* Ensure the dashboard is above the overlay */
    }

    .heading {
        margin-bottom: 20px;
        font-size: large;
    }

    .date-time {
        font-size: medium;
        margin-bottom: 10px;
    }
.right-side {
    margin-bottom: 20%;
}

.prayer-info, .prayer-time{
    font-size: medium;
    margin-left: 0;
}
}