/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light gray box shadow */
  margin-bottom: 2%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  position: relative;
}

/* Align logo and hamburger icon vertically */
.logo, .hamburger {
  display: flex;
  align-items: center; /* Ensure vertical alignment */
}

.logo img {
  height: 50px; /* Adjust height as needed */
  margin-right: auto; /* Pushes the hamburger menu to the right */
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
}

.nav-items a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #333;
  transition: width 0.3s ease;
}

.nav-items a:hover::after {
  width: 100%;
  left: 0;
  background: #333;
}

/* Hamburger Icon Styles */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date {
  flex: 1;
  text-align: left;
  margin: 0 auto;
}

.prayer-times {
  flex: 2;
  display: flex;
  justify-content: space-around;
}

.prayer-time {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prayer-time.active p {
  font-weight: bold;
}

/* Main styles */
.main {
  flex: 1;
}

.contact-info-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 1%;
}

.contact-item-footer {
  display: flex;
  align-items: center;
}

.contact-item-footer a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Remove underline */
  color: inherit; /* Keep text color consistent */
}

.contact-item-footer ion-icon {
  font-size: 24px; /* Adjust icon size as needed */
  vertical-align: middle; /* Align icons vertically */
}

.contact-item-footer p {
  margin: 0;
}

.contact-item-footer a:hover {
  text-decoration: none; /* Ensure no underline on hover */
  color: inherit; /* Ensure color doesn't change on hover */
}

footer {
  background-color: #858585;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  font-size: smaller;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 0 10px;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: auto; /* Adjusted to auto */
    right: 0; /* Positioned to the right */
    background-color: white;
    width: 50%; /* 50% of the viewport width */
    height: 100vh; /* Cover the entire viewport height */
    text-align: left; /* Left-align the text */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden; /* Ensure it's hidden initially */
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out, visibility 0.4s ease-out;
    z-index: 100;
    padding: 10%;
  }
  
  .nav-items.active {
    max-height: 100vh;
    opacity: 1;
    visibility: visible; /* Make visible when active */
  }

  .nav-items a {
    pointer-events: auto; /* Enable clicks when active */
  }

  .nav-items a::after {
    display: none;
  }
  
  .nav-items a:hover::after {
    display: none;
  }

  .logo img {
    height: 30px;
  }

  .hamburger {
    display: block;
  }

  .banner {
    padding: 0px 10px;
  }

  .banner p {
    font-size: x-small;
  }

  .contact-info-footer {
    font-size: x-small;
  }

  footer {
    font-size: x-small;
  }
}
