body {
    background: url(/images/blue-mosque-sultan-5373x3707-10689.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent overflow */
    position: relative; /* Required for the pseudo-element */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure the overlay is on top of the background image */
    pointer-events: none; /* Allow clicks to pass through */
}

#dashboard {
    display: flex;
    flex-direction: row;
    width: 100%; /* Take up the full width of the screen */
    max-width: 80%;
    height: 100%; /* Take up the full height of the screen */
    max-height: 800px;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    gap: 5%;
    z-index: 2; /* Ensure the dashboard is above the overlay */
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    font-size: x-large;
    justify-content: center;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.heading {
    margin-bottom: 20px;
    font-size: xx-large;
}

.date-time {
    margin-bottom: 20px;
}

.date-time p {
    margin: 5px 0;
}

.prayer-time {
    background: linear-gradient(145deg, rgba(0, 174, 197, 0.1), rgba(255, 255, 255, 0.1)); /* Gradient background */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px; /* Adjust padding for better fit */
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for 3D effect */
    margin-bottom: 10px;
}

.prayer-time p {
    margin: 5px 0;
    font-size: 1em; /* Adjust font size for better fit */
    font-weight: 600; /* Adjust font weight */
}

.prayer-time.active {
    background: linear-gradient(145deg, rgba(0, 174, 197, 0.6), rgba(255, 255, 255, 0.5));
    font-weight: bold;
}

.prayer-time.recent {
    background: rgba(255, 255, 255, 0.6); /* Less transparent background */
    font-weight: bold; /* Bold font */
}