body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 2px -2px gray;
  text-align: center;
}

.logo {
  max-width: 5%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.newsandupdatesiframe {
  pointer-events: none;
}

footer {
  background-color: rgb(54, 54, 54);
  padding: 10px;
  text-align: center;
  box-shadow: 0 -4px 2px -2px gray;
  margin-top: auto;
  color: white;
}

.navbar {
  background-color: white;
  color: white;
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 -4px 8px -4px gray;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: rgb(65, 65, 65);
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.navbar a:hover {
  color: rgb(12, 162, 255);
}

.navbar i {
  display: block;
  font-size: 20px;
}

.locations {
  background-color: #ffffff; /* Set background color */
  padding: 3%;
}

.locations h2, h3 {
  text-align: center;
}

.locations h2 {
  font-size: 75px;
}

.locations h3 {
  font-size: 30px;
}

.location-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Five columns, adjust as needed */
  grid-gap: 20px;
}

.location-content img {
  width: 600px;
  height: 450px;
}

.location-container {
  padding: 1%;
  margin-bottom: 5%;
  border-radius: 20px; /* Adjust the border-radius as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the box shadow as needed */
  overflow: hidden; /* Ensure rounded corners are applied */
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}